* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../images/capbgimage.jpg");
  background-color: #cccccc;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color {
  color: white;
  background-color: lightblue;
  text-align: center;
}

.fontstyle1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.fontstyle2 {
  font-size: 20px;
  color: darkslategray;
  color: white;
}

.fontstyle3 {
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white
}


.errors {
  color: red;
}

label {
  font-size: 22px;
  color: white;
}

input {
  height: 50px;
  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 5px;
}

.spantext {
  color: white;
  font-size: 25px;
}

/* Dashboard  page */

.App {
  display: flex;
}

.textarea {
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-size: 25px;
  outline: none;
  margin-top: 15px;
}

.markdown {
  width: 100%;
  height: 100vh;
  padding: 20px;
  outline: none;
  border: 2px solid blue;
  background-color: white;
  color: black;
}

.boxtxt {
  color: darkblue;
  font-size: 40px;
  font-weight: bold;
}

/* register form page */

.register {
  margin-top: 8%
}

.registerrow {
  min-height: 80px;
}

.bg {
  background-color: blueviolet;
  border: 2px solid black;
}

/* login page */

.logbtn {
  margin-left: 45%;
}

button {
  width: 150px;
  height: 50px
}

.rowheight {
  height: 75px;

}

.errorrowht{
  min-height: 25px;
}


/* verification mail page */

.verifymail {
  color: red;
}

.vbtn {
  width: 200px;
}

/* landing page */

.cont {
  margin-top: 15%;
}